body {
  width: 900px;
  margin: auto;
}

h1{
  font-family: 'Oswald', sans-serif;
}

hr {
    height: 14px;
    width: 960px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

#logo-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: none;
}

#logo-list li {
    float: right;
    display: inline;
    padding: 3px;
}

#logo-list li a {
    display: block;
    color: none;
    text-align: center;

}

logo {
    padding-right: 50px;
    float: left;
}

#del {
    display: inline;
    clear: right;
    font-size: 40px;
    font-family: 'Yellowtail', cursive;
}

#best {
    font-size: 10px;

}

#recipe-list {
  position: relative;
  width: 100%;
  height: 100%;
}

#list-bg {
  position: absolute;

}

#ingrd-list1{
  position: absolute;
  font-family: cursive;
  display: inline-block;
  font-size: 22px;
  width: 45%;
  margin-top: 4%;
  left: 5%;
}

#ingrd-list2{
  position: absolute;
  font-family: cursive;
  display: inline-block;
  font-size: 22px;
  width: 40%;
  margin-top: 4%;
  left: 55%;
}

#ingredients {
  position: absolute;
  width: 100%;
}

#aboutAuthor {

}

#footer {
  position: absolute;
  height: 100px;
  width: 100%;
  top: 
}
